@charset "utf-8";
/* cssリセット */
body,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
      text-decoration: none;
      color: inherit;
}

ul {
       list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* 本文 */
.nav_wrap{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.nav_wrap ul{
    
    display: flex;
    justify-content: flex-end;
    border: #4c4c4c;
}

.nav_wrap ul li{
    padding: 5px 10px;
    font-size: 15px;
    border-right: 1px solid #4c4c4c;
}

.nav_wrap ul li:last-child{
    border-right: none;
}

/* レスポンシブ */

@media screen and (max-width:767px) {
    .nav_wrap{
        display: block;

    }
    
    
    .nav_wrap ul{
       display: block;
    }

    .nav_wrap ul li{
        padding: 5px 0;
        border-right: none;
        border-bottom: 1px solid #4c4c4c;
    }

}